# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variáveis de ambiente
.env
.env.*
!.env.example

# Arquivos gerados
coverage/
dist/
build/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações locais do editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
